@import url(/node_modules/@fontsource/nunito/400.css);
@import url(/node_modules/@fontsource/nunito/800.css);

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(201, 209, 217);
}
